 #hMainContent{
  width:100%;
  position:absolute;
  top:150px;
  padding-left: 5%;
  padding-right: 5%;
  display: inline-flex;
}

#hpiccont{
  width: 30%;
  background-color: white;
  float:left;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
}

#hpic{
  padding:2%;
  width: 80%;
  margin: 0 auto;
}

#hmaintext{
  width: 50%;
  background-color: white;
  float: left;
  padding:2%;
}

#hTitle{
  text-align: center;
  font-family: 'Proza Libre', sans-serif;
  font-size: 3em;
}

#hTitleHeader{
  width: 100%;
  position: absolute;
  background-color: orange/*#A0A0A0*/;
}

#hTitleHeader:after{
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 8px 2px #000000;
   -moz-box-shadow: 0px 0px 8px 2px #000000;
      box-shadow: 0px 0px 8px 2px #000000;
}
